
*.img

*.db

*.sql

*.pyc

*.db-shm

*.db-wal

\.vscode/settings\.json

templates/map\.html

static/WhatsappMap\.html

password\.yaml

app_gatekeepers/

contacts_db2

static/mounted/

static/map\.html

\.vscode/launch\.json

History

Login Data

Web Data
