<!DOCTYPE html>
<html>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
    

    <head>
        
        <title>Mobile Device Forensics</title>
        <body>
           <!-- Header-->
           <nav class="navbar navbar-expand-lg" id="titlebar">
               <h1 class="navbar-brand mb-0">Mobile Device Forensincs</h1>
           </nav>

            <section style="margin-top:40px">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        
                        <form action="{{ url_for('getPassword') }}" method="post">
                            <!-- Input fieds-->
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-5">
                                    <input type="password" id="password" class="form-control" name="password" required autofocus>
                                </div>
                            </div>
                            
                            <!-- Button-->
                            <div class="col-md-5 offset-md-6">
                                <button type="text" class="btn btn-primary" id="login-button" name="login-button">
                                    Login
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            </section>


        </body>
    </head>

</html>